# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.venv/

# Persistent/local data
chroma_db/
*.sqlite3

#uploads
uploads/


# Editor files
.vscode/

# OS
.DS_Store
Thumbs.db